<html>
    <body>
        <h1>Alex's Security Pi Camera Test Images:</h1>
        <div style="display:inline;">
        <form action="/calibrate" method="post">
            <input type="submit" value="Calibrate">
        </form>
        <form action="/collect" method="post">
            <input type="submit" value="Collect">
        </form>
            
        </div>
        <hr>
        <img style="width:50%; margin:auto;" src="../static/images/{{image}}">
        <hr>
        <br>
    </body>
</html>